.navbar {
    width: 100%;   
    position: fixed;
    top: 0%;
    backdrop-filter: blur(5px); 
    z-index: 1000;
    padding: 0.6em 0rem;
    background-color: rgba(5, 31, 44, 0.938);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between; 
    align-items: center;
    margin: 0 1.5rem;
   
}




