.cardDetails {
  margin: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cardDetails .MuiCard-root {
  box-shadow: none;
}

.propertyImage {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardActions {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 20px;
}

.cardActions Button {
  width: 40%; 
  margin-bottom: 10px; 
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column; 
  text-align: center; 
  
}

.grid_container{
  justify-content: center;
  margin-bottom: 20px;
}

.avatarName {
  margin-top: 8px; 
}

.commentContainer {
  display: flex;
  align-items: flex-start; 
  margin-bottom: 12px;
}

.commentText {
  margin-left: 12px;
  text-align: left; 
}

@media(max-width:600px){
  .propertyImage {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
}
